.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #F4F1CA;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 1500px;
    text-align: center;
  }
  
  .modalBody {
    position:relative;
    top: 70px;
    flex-direction: column;
    padding-right: 10%;
    max-height: fit-content;
  }
  
  .facilityGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 20px 0;
  }
  
  .facilityImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: url('/images/close_button.png') no-repeat center center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
  }